[Unit]
Description=Regularly execute SSD trim command
After=syslog.target

[Service]
ExecStart=/usr/sbin/fstrimDaemon.sh

[Install]
WantedBy=multi-user.target
